<h1>SYNEK TO DZIAŁA</h1>
<h4>Teraz można użyc zmiennych tutaj. <br>
O {{zmiennaInput[0]}} przed {{zmiennaInput[1]}}</h4><br>

<button (click)="wyslanie()" type="button">Wyslij odpowiedz do rodzica</button><br>

<h1>Pochodze z komponentu syn. Liczba podanych mi liczb wynosi {{dodawanie}}</h1>
<h1>Pochodze z komponentu syn. Liczba podanych mi liczb wynosi {{odejmowanie}}</h1>
<h1>Pochodze z komponentu syn. Liczba podanych mi liczb wynosi {{mnozenie}}</h1>
<h1>Pochodze z komponentu syn. Liczba podanych mi liczb wynosi {{dzielenie}}</h1>